<div class="header-container">
    <div class="nav-bar">
        <div class="nav-bar__list">
            <div class="nav-bar__item-1">
                <img class="nav-bar__item-1--user-pic" src="./../../../assets/icons-backgrounds/top_user_picture.png" alt="user image"> 
            </div>
            <div class="nav-bar__item-2">
                <div class="nav-bar__item-2--cash-box">
                    100,000
                    <!-- usar pipe -->
                    <img src="./../../../assets/icons-backgrounds/top_icon_coin_.png" alt="coin">
                </div>
            </div>
            <div class="nav-bar__item-3">
                <img class="nav-bar__item-3--img" src="./../../../assets/icons-backgrounds/top_icons_zkuad_ice.png" alt="monster">
            </div>
        </div>
    </div>    
</div>