<div class="ranking-container">
    <h3 class="header-ranking">Rankings</h3>
    <div class="ranking-banner">
        <div class="ranking-banner__box">
            <img class="ranking-banner__box--bg" src="./../../assets/icons-backgrounds/ranking_banner_background.png" alt="bg">
            <img class="ranking-banner__podio--img" src="./../../assets/icons-backgrounds/ranking_banner_podio_solo.png" alt="podio" >
 
            <div class="ranking-banner__podio ranking-banner__podio--1">
                <p class="ranking-banner__podio--legend color-1">
                    100.000.000
                    <img class="ranking-banner__podio--star" src="./../../assets/icons-backgrounds/ranking_banner_podio_icon_points_thunder.png" alt="star">
                </p>
                <img class="ranking-banner__podio--character" src="./../../assets/icons-backgrounds/ranking_banner_podio_zkuad_thunder.png" alt="first player">
            </div>
            <div class="ranking-banner__podio ranking-banner__podio--2">
                <p class="ranking-banner__podio--legend color-2">
                    500.000
                    <img class="ranking-banner__podio--star" src="./../../assets/icons-backgrounds/ranking_banner_podio_icon_points_fire.png" alt="star">
                </p>
                <img class="ranking-banner__podio--character" src="./../../assets/icons-backgrounds/ranking_banner_podio_zkuad_fire.png" alt="">
            </div>
            <div class="ranking-banner__podio ranking-banner__podio--3">
                <p class="ranking-banner__podio--legend color-3">
                    300.000
                    <img class="ranking-banner__podio--star" src="./../../assets/icons-backgrounds/ranking_podio_icon_points_ice.png" alt="star">
                </p>
                <img class="ranking-banner__podio--character" src="./../../assets/icons-backgrounds/ranking_banner_podio_zkuad_ice.png" alt="">
            </div>
            <img class="ranking-banner__game-name" src="./../../assets/icons-backgrounds/ranking_banner_jackpot_solo.png" alt="jackpot">
            <div class="ranking-banner__game-prize color-1">
                <span class="ranking-banner__game-prize--text">
                    500.000
                    <img class="ranking-banner__game-prize--coin" src="./../../assets/icons-backgrounds/ranking_banner_icon_coin.png" alt="coins">
                </span>
            </div>
            <div class="ranking-banner__game-time">
                Ends in <span>23h 15min</span>
            </div>
        </div>
    </div>
    <div class="ranking-nav-list__carrousel">
        <div class="ranking-nav-list">
            <label class="ranking-nav-list__item" id="ranking-nav-list__item" for="all">All</label>
            <label class="ranking-nav-list__item" id="ranking-nav-list__item" for="fire">Fire</label>
            <label class="ranking-nav-list__item" id="ranking-nav-list__item" for="ice">Ice</label>
            <label class="ranking-nav-list__item" id="ranking-nav-list__item" for="thunder">Thunder</label>
        </div>
    </div>
        <div class="ranking-list">
        
            <input class="display-none" type="radio" id="all" name="ranking-list-input" checked>
            <input class="display-none" type="radio" id="fire" name="ranking-list-input">
            <input class="display-none" type="radio" id="ice" name="ranking-list-input">
            <input class="display-none" type="radio" id="thunder" name="ranking-list-input">
            
            <div class="ranking-list__list" id="ranking-all">
                <div class="ranking-list__item">
                    <div class="ranking-list__number">1</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            JuanitoJohn2015
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            200.450M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">2</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            ElMesias10
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            190.400M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">3</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Elizabeth12
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            180.885M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">4</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Matu15
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            179.470M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">5</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            FedeRickSanchez
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            155.000M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">6</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            MartinMoro
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            120.350M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">7</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            RomualdoSavic
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            90.150M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">8</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            ElsaMiranda
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            70.130M
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="ranking-list__list" id="ranking-fire">
                <div class="ranking-list__item">
                    <div class="ranking-list__number">1</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Matu15
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            179.470M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">2</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            ElsaMiranda
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            70.130M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">3</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Camilo6
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            69.885M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">4</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            EmilianoPapa14
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            66.430M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">5</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            MarianVenzi01
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            60.000M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">6</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            MilanPedro
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            59.350M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">7</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            ItaloApache7
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            55.150M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">8</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_fire.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            PiperJohn23
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            53.130M
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="ranking-list__list" id="ranking-ice">
                <div class="ranking-list__item">
                    <div class="ranking-list__number">1</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            JuanitoJohn2015
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            200.450M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">2</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Elizabeth12
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            180.885M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">3</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            MartinMoro
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            120.350M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">4</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            RamonMontero
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            175.470M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">5</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            SantinaFasante
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            155.000M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">6</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            EstebanEstebanez
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            145.000M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">7</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            PardoJosefina
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            90.150M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">8</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_ice.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Memo123
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            70.130M
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="ranking-list__list" id="ranking-thunder">
                <div class="ranking-list__item">
                    <div class="ranking-list__number">1</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            ElMesias10
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            190.400M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">2</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            FedeRickSanchez
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            189.000M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">3</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            RomualdoSavic
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            181.885M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">4</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Tomas
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            179.470M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">5</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Sandia
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            155.000M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">6</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Facundo
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            120.350M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">7</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Quetin
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            90.150M
                        </div>
                    </div>
                </div>
                <div class="ranking-list__item">
                    <div class="ranking-list__number">8</div>
                    <div class="ranking-list__img-box">
                        <img class="ranking-list__img-box--bg-img" src="./../../assets/icons-backgrounds/ranking_user_frame_thunder.png" alt="">
                        <img class="ranking-list__img-box--user-img" src="./../../assets/icons-backgrounds/home_info_icon_user.png" alt="">
                    </div>
                    <div class="ranking-list__user">
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_user.png" alt="user">
                            Mari
                        </div>
                        <div class="ranking-list__user--box">
                            <img class="ranking-list__user--img" src="./../../assets/icons-backgrounds/ranking_icon_points.png" alt="">
                            70.130M
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
</div>