<app-header></app-header>
<div class="home-container">
    <div class="carrousel">
        <div class="pantalla">
            <div class="pantalla__img pantalla__img--1">
                <div  class="game-data-container">

                    <div class="game-data">
                        <div class="game-data__list">
                            <div class="game-data__ranking">
                                <img src="./../../../assets/icons-backgrounds/home_info_button_ranking.png" alt="ranking">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__text">8000</div>
                                <img src="./../../../assets/icons-backgrounds/home_info_icon_user.png" alt="user">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Prize</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">126.000</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Entry for</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">200</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <a class="btn btn__green ">
                                    <div class="btn__green--text">
                                        JOIN & PLAY
                                    </div> 
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="pantalla">
            <div class="pantalla__img pantalla__img--2">
                <div class="game-data-container">
                    <div class="game-data">
                        <div class="game-data__list">
                            <div class="game-data__ranking">
                                <img src="./../../../assets/icons-backgrounds/home_info_button_ranking.png" alt="ranking">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__text">2300</div>
                                <img src="./../../../assets/icons-backgrounds/home_info_icon_user.png" alt="user">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Prize</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">80.000</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Entry for</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">90</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <a class="btn btn__green ">
                                    <div class="btn__green--text">
                                        JOIN & PLAY
                                    </div> 
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="pantalla">
            <div class="pantalla__img pantalla__img--3">
                <div class="game-data-container">
                    <div class="game-data">
                        <div class="game-data__list">
                            <div class="game-data__ranking">
                                <img src="./../../../assets/icons-backgrounds/home_info_button_ranking.png" alt="ranking">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__text">6740</div>
                                <img src="./../../../assets/icons-backgrounds/home_info_icon_user.png" alt="user">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Prize</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">100.500</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Entry for</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">120</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <a class="btn btn__green ">
                                    <div class="btn__green--text">
                                        JOIN & PLAY
                                    </div> 
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="pantalla">
            <div class="pantalla__img pantalla__img--4">
                <div class="game-data-container">
                    <div class="game-data">
                        <div class="game-data__list">
                            <div class="game-data__ranking">
                                <img src="./../../../assets/icons-backgrounds/home_info_button_ranking.png" alt="ranking">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__text">10040</div>
                                <img src="./../../../assets/icons-backgrounds/home_info_icon_user.png" alt="user">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Prize</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">10.000</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Entry for</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">50</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <a class="btn btn__green ">
                                    <div class="btn__green--text">
                                        JOIN & PLAY
                                    </div> 
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="pantalla">
            <div class="pantalla__img pantalla__img--5">
                <div class="game-data-container">
                    <div class="game-data">
                        <div class="game-data__list">
                            <div class="game-data__ranking">
                                <img src="./../../../assets/icons-backgrounds/home_info_button_ranking.png" alt="ranking">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__text">6000</div>
                                <img src="./../../../assets/icons-backgrounds/home_info_icon_user.png" alt="user">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Prize</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">25.000</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Entry for</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">70</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <a class="btn btn__green ">
                                    <div class="btn__green--text">
                                        JOIN & PLAY
                                    </div> 
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="pantalla">
            <div class="pantalla__img pantalla__img--6">
                <div class="game-data-container">
                    <div class="game-data">
                        <div class="game-data__list">
                            <div class="game-data__ranking">
                                <img src="./../../../assets/icons-backgrounds/home_info_button_ranking.png" alt="ranking">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__text">7392</div>
                                <img src="./../../../assets/icons-backgrounds/home_info_icon_user.png" alt="user">
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Prize</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">150.000</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <div class="game-data__item-2">
                                    <div class="game-data__legend">Entry for</div>
                                    <div class="game-data__item-1">
                                        <div class="game-data__text">220</div>
                                        <img src="./../../../assets/icons-backgrounds/home_info_icon_coin.png" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="game-data__item-1">
                                <a class="btn btn__green ">
                                    <div class="btn__green--text">
                                        JOIN & PLAY
                                    </div> 
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>